/* Variables */
:root {
  --primary-color: #3BF296;
  --secondary-color: #229C96;
  --tertiary-color: #00BE67;
  --light-gray: #FAFAFC;
  --light-yellow:#FBFAEF;
  --light-blue: rgba(34, 156, 150, 0.2);
  --text-color: #333333;
  --primary-font: 'Roboto Condensed', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos generales*/

body {
  color: var(--text-color);
  font-family: var(--secondary-font);
}

/* Para las secciones how-work - team - benefits - services */
.section {
  padding: 70px 0 40px;
}

.section-small {
  padding-bottom: 0;
}

.section-small .row {
  margin-bottom: 0;
}

.section-title {
  margin-bottom: 1.5em;
}

.section-title::after {
  content: " ";
  height: 5px;
  width: 45px;
  background-color: var(--secondary-color);
  display: block;
  margin: 10px 0 30px;
}

.section-gray {
  background-color: var(--light-gray);
}

.section-yellow {
  background-color: var(--light-yellow);
}

/* Tipografía */
.font-black {
  color: var(--text-color);
}

.font-bold {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.caption {
  margin: 0 0 10px 0;
  line-height: 1.3em;
}

h1, h2 {
  font-family: var(--primary-font);
}

h3, h4, h5, h6 {
  font-family: var(--secondary-font);
  font-weight: bold;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2.5em;
}

h3, .h3 {
  font-size: 2em;
}

h4, .h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.2em;
}

/* Etiquetas P - Parrafos */
p {
  margin-bottom: 0.5em;
}

.p1 {
  font-size: 1em;
  line-height: 2;
}

.p2 {
  font-size: 0.8em;
  line-height: 1.7;
}

.caption {
  font-size: 0.8em;
}

.link {
  color: var(--text-color);
  font-size: 1em;
  font-weight: bold;
  text-decoration: underline;
}

.btn-inicia-sesion {
  background: var(--primary-color);
}

.btn-inicia-sesion-mobile {
 padding: 1em;
 display: inline-block;
 margin-top: 1em;
 color: var(--text-color);
 font-weight: bold;
}

.button-primary {
  color: var(--text-color);
  margin-top: 10px;
  padding: 15px 20px;
  display: inline-block;
  min-width: 200px;
  background: var(--primary-color);
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}


.button-secondary {
  color: var(--secondary-color);
  margin-top: 10px;
  padding: 15px 20px;
  display: inline-block;
  min-width: 200px;
  border: 2px solid var(--secondary-color);
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

.big-number {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 90px;
  line-height: 48px;
}

.medium-number {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
}

.bullet-list {
  margin-bottom: 20px;
}

.bullet-list li::before {
  border-radius: 50%;
  content: '\2022';
  color: var(--tertiary-color);
  font-weight: bold;
  width: 4px;
  height: 4px;
  margin-right: 5px;
}

/*Componente header */

.bg-image {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  background-image: url('images/bg-hero.png');
  min-height: 450px;
  height: 100vh;
  max-height: 670px;
}

.hero h3 {
  margin-bottom: 20px;
}

/*Componente navbar*/
.navbar {
  background: var(--light-yellow);
 }

nav {
  line-height: 58px;
}

#navbar-container-mobile ul {
  height: 4em;
  display: flex;
  justify-content: space-around;
}

nav ul a {
  padding: 0;
  margin-left:0;
} 

#navbar-container-mobile ul li a {
  height: 100%;
  width: 106.66px;
  text-align: center;
  font-size: 0.68em;
  color: var(--text-color);
}

#navbar-container-mobile ul li a:hover {
   cursor: pointer;
   background: var(--primary-color);
}

#navbar-container-desktop{
  display: none;
}

 /* Section info*/
 .info {
   padding-top: 4em;
   padding-bottom: 2em;
}

.info-logo {
  display: inline-block;
  margin-bottom: 2em;
}
.info-title {
  font-family: var(--primary-font);
  font-size: 3em;
  font-weight: normal;
}

.info a:hover, .icon-block a:hover {
  cursor: pointer;
}

/* Section how work*/

.option {
  background-color: rgba(34, 156, 150, 0.15);
  position: relative;
  background-color: rgba(59, 242, 150, 0.5);
}

/* Section team */

.team a {
  display: inline-block;
  margin-top: 4em;
}

/* Section benefits */

.option, .service {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.option-text {
  padding: 0 35px;
}

.option .big-number {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.col.option{
  min-height: 120px;
  padding: 10px 0;
}

/* Section benefits*/


#benefits > div > div > div.row > div {
  padding-top: 1em;
  text-align: center;
}

#benefits .material-icons {
  color: var(--secondary-color);
}

/* Section services */
.service {
  background-color: rgba(59, 242, 150, 0.5);
  justify-content: center;
  text-align: center;
}

.service span {
  vertical-align: middle;
}

.service-note {
  line-height: 1;
}

.col.service {
  min-height: 120px;
  padding: 20px 0;
}


/* Templates Literales*/

/* template view profiles */
.profile {
  display: inline-block;
  height: 160px;
}

.profile-navbar img{
  height: 58px;
}

.icon-profile {
  background-color: var(--light-blue);
  padding: 30px 15% 15px;
  text-align: center;
}

.icon-profile a {
  margin-top: 20px;
  padding: 10px;
  display: inline-block;
  background: var(--tertiary-color)
}

.info-profile {
  padding: 30px 0;
}

.profile-preview-button {
  text-align: center;
}

.profile-preview .button-secondary {
  margin: 0 auto;
}

.profile-preview .button-secondary:hover {
  cursor: pointer;
  color: #FAFAFC;
  background: #229C96;
}

.profile-content-block {
  padding: 20px 30px 30px;
}

.container-inputs {
  outline: 1px solid var(--secondary-color);
  padding: 0.5em;
}

#contacta-santiago-wasap {
  color: var(--light-gray);
  padding-bottom: 3em;
}


/* Estilos form */


  /* label focus color */
  .contact-modal .input-field input[type=text]:focus + label,
  .contact-modal .input-field input[type=tel]:focus + label,
  .contact-modal .input-field input[type=email]:focus + label,
  .contact-modal .input-field textarea:focus + label   {
    color: var(--text-color);
  }
  /* label underline focus color */
  .contact-modal .input-field input[type=text]:focus,
  .contact-modal .input-field input[type=tel]:focus,
  .contact-modal .input-field input[type=email]:focus,
  .contact-modal .input-field textarea:focus {
    border-bottom: 1px solid var(--tertiary-color);
    box-shadow: 0 1px 0 0 var(--tertiary-color);
  }
  /* valid color */
  .contact-modal .input-field input[type=text].valid {
    border-bottom: 1px solid var(--tertiary-color);
    box-shadow: 0 1px 0 0 var(--tertiary-color);
  }
  /* invalid color */
  .contact-modal .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: var(--tertiary-color);
  }

  /* checked radio-button color */
  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid var(--tertiary-color);
  }

  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: var(--tertiary-color);
  }

@media only screen and (max-width: 600px) and (min-width: 375px) {
  .bg-image {
    max-height: 568px;
  }
  
}

@media only screen and (max-width: 600px) {
  .profile-preview {
    max-width: 350px;
    margin: 0 auto 30px;
  }
}

@media only screen and (max-width: 993px) and (min-width: 601px) {
  #navbar-container-mobile{
    display: none;
  }
  .bg-image {
    height: 600px;
  }

  .icon-profile {
    height: 320px;
  }

  .info img{
    display: none;
  }
}


@media only screen and (min-width: 601px) {
  /* Tipografía */

  .info-title {
    font-size: 3.5em;
  }

  h2 {
    font-size: 3em;
  }

  h5 {
    font-size: 1.3em;
  }

  /* Logo */

  .logo {
    display: inline-block;
    height: 65px;
  }
  
  .img-logo {
    height: 64px;
  }

  .bg-image {
    min-height: initial;
    max-height: initial;
    /*height: 520px;*/
  }

  .item:nth-child(4) {
    background: var(--tertiary-color);
  }
  
  .col.option, .col.service {
    min-height: 150px;
    padding: 15px 0;
  }
  #navbar-container-mobile {
    display: none;
  }

  #navbar-container-desktop {
    display: block;
  }

  #navbar-container-desktop ul {
    width: 100%;
    height: 65px;
  }

  #navbar-container-desktop li {
    width: 20%;
    height: 65px;
    float: right;
  }

  #navbar-container-desktop li a {
    text-align: center;
    height: 65px;
  }

 .profile-content-block .bullet-list {
    min-height: 84px;
    position: relative;
    height: 120px;
    overflow: hidden;
  }

  .profile-content-block .bullet-list::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 65%, rgba(255,255,255,0.8) 80%, rgba(255,255,255,0.95) 95%);
  }  
}

@media only screen and (min-width: 768px) {
  .profile-content-block .bullet-list {
    height: 110px;
  }
}


@media only screen and (min-width: 993px) {
  .info img{
    display: none;
  }
  #navbar-container-mobile{
    display: none;
  }

  .bg-image {
    min-height: 520px;
  }

  .icon-profile-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1201px) {
  .info img{
    display: none;
  }
  .profile-preview .icon-profile {
    height: 320px;
  }

  .profile-content-block .bullet-list {
    height: 140px;
  }  
}

